
/* Base styles for form elements */
.form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #000;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  select,
  input[type="email"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 30px; 
     
  }
  #description{
    padding: 10px 6px;
  }
  #category{
    padding: 10px 6px;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  select,
  input[type="email"] {
    transition: all 0.3s ease-in-out;
  }
  
  /* Responsive styling */
  @media screen and (max-width: 768px) {
    /* Adjust font sizes for smaller screens */
    input[type="text"],
    input[type="number"],
    textarea,
    select,
    input[type="email"] {
        font-size: 14px;
    }
  }
  
  



@tailwind base;
@tailwind components;
@tailwind utilities;


@tailwind base;
@tailwind components;
@tailwind utilities;